/*Matthew Rook 18007407 Styling sheet*/
/*CSS styling sheet*/

/* content class for the table styling */
.content {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  .content td, .content th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  .content tr:nth-child(even){background-color: #f2f2f2;}
  
  .content tr:hover {background-color: #ddd;}
  
  .content th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #FFFF00;
	color: black;
  }
/* styling for the header 1 */
  h1{
	font-family: Arial;
	font-size: 32;
	background-color: #FFFF00;
	display:inline-block;
	border: 5px solid black;
  }
  /* styling for the header 2 */
  h2{
	font-family: Arial;
	font-size: 20;
  }
    /* styling for the paragraph text */
  p{
	font-family: Arial;
	font-size: 14;
  }
      /* styling for the form text */
  form{
	font-family: Arial;
	font-size: 14;
  }